# Table of Contents
 <p><div class="lev1 toc-item"><a href="#Look-the-data" data-toc-modified-id="Look-the-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Look the data</a></div><div class="lev1 toc-item"><a href="#Visualizaton" data-toc-modified-id="Visualizaton-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Visualizaton</a></div><div class="lev2 toc-item"><a href="#Survived-vs-Sex" data-toc-modified-id="Survived-vs-Sex-21"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Survived vs Sex</a></div><div class="lev2 toc-item"><a href="#Survived-vs-Age" data-toc-modified-id="Survived-vs-Age-22"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Survived vs Age</a></div><div class="lev2 toc-item"><a href="#Survived-vs-Fare" data-toc-modified-id="Survived-vs-Fare-23"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Survived vs Fare</a></div><div class="lev2 toc-item"><a href="#Fare-vs-Pclass" data-toc-modified-id="Fare-vs-Pclass-24"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Fare vs Pclass</a></div><div class="lev2 toc-item"><a href="#Survived-vs-Embarked" data-toc-modified-id="Survived-vs-Embarked-25"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Survived vs Embarked</a></div><div class="lev1 toc-item"><a href="#Data-Manipulation" data-toc-modified-id="Data-Manipulation-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Data Manipulation</a></div><div class="lev2 toc-item"><a href="#Status-function" data-toc-modified-id="Status-function-31"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Status function</a></div><div class="lev2 toc-item"><a href="#Load-the-data" data-toc-modified-id="Load-the-data-32"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Load the data</a></div><div class="lev2 toc-item"><a href="#Create-New-Attribute-Titles" data-toc-modified-id="Create-New-Attribute-Titles-33"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Create New Attribute Titles</a></div><div class="lev2 toc-item"><a href="#Process-Age" data-toc-modified-id="Process-Age-34"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Process Age</a></div><div class="lev2 toc-item"><a href="#Process-Name" data-toc-modified-id="Process-Name-35"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Process Name</a></div><div class="lev2 toc-item"><a href="#Process-Fare" data-toc-modified-id="Process-Fare-36"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Process Fare</a></div><div class="lev2 toc-item"><a href="#Process-Embarked" data-toc-modified-id="Process-Embarked-37"><span class="toc-item-num">3.7&nbsp;&nbsp;</span>Process Embarked</a></div><div class="lev2 toc-item"><a href="#Process-Cabin" data-toc-modified-id="Process-Cabin-38"><span class="toc-item-num">3.8&nbsp;&nbsp;</span>Process Cabin</a></div><div class="lev2 toc-item"><a href="#Process-Sex" data-toc-modified-id="Process-Sex-39"><span class="toc-item-num">3.9&nbsp;&nbsp;</span>Process Sex</a></div><div class="lev2 toc-item"><a href="#Process-Pclass" data-toc-modified-id="Process-Pclass-310"><span class="toc-item-num">3.10&nbsp;&nbsp;</span>Process Pclass</a></div><div class="lev2 toc-item"><a href="#Process-Ticket" data-toc-modified-id="Process-Ticket-311"><span class="toc-item-num">3.11&nbsp;&nbsp;</span>Process Ticket</a></div><div class="lev2 toc-item"><a href="#Process-Family" data-toc-modified-id="Process-Family-312"><span class="toc-item-num">3.12&nbsp;&nbsp;</span>Process Family</a></div><div class="lev1 toc-item"><a href="#Modelling" data-toc-modified-id="Modelling-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Modelling</a></div><div class="lev2 toc-item"><a href="#Import-Required-Libraries" data-toc-modified-id="Import-Required-Libraries-41"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Import Required Libraries</a></div><div class="lev2 toc-item"><a href="#Compute-Score" data-toc-modified-id="Compute-Score-42"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Compute Score</a></div><div class="lev2 toc-item"><a href="#Recover-Train-Test-Target" data-toc-modified-id="Recover-Train-Test-Target-43"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Recover Train Test Target</a></div><div class="lev2 toc-item"><a href="#Feature-Selection" data-toc-modified-id="Feature-Selection-44"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Feature Selection</a></div><div class="lev2 toc-item"><a href="#Hyperparameters-Tuning" data-toc-modified-id="Hyperparameters-Tuning-45"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>Hyperparameters Tuning</a></div>

In [160]:
from IPython.core.display import HTML
HTML("""
<style>
.output_png {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
</style>
""")

In [161]:
# remove warnings
import warnings
warnings.filterwarnings('ignore')
# ---

%matplotlib inline
import pandas as pd
pd.options.display.max_columns = 100
from matplotlib import pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')
import numpy as np

pd.options.display.max_rows = 100

# Look the data

In [162]:
data = pd.read_csv('train.csv')
data.shape
data.head()
data.describe();

In [163]:
# There are only 714 age, fill missing values by median
data['Age'].fillna(data['Age'].median(), inplace=True)
data.describe();

# Visualizaton

## Survived vs Sex

In [164]:
survived_sex = data[data['Survived']==1]['Sex'].value_counts()
dead_sex = data[data['Survived']==0]['Sex'].value_counts()
df = pd.DataFrame([survived_sex,dead_sex])
df.index = ['Survived','Dead']
# df.plot(kind='bar',stacked=True, figsize=(15,8))

## Survived vs Age

In [165]:
figure = plt.figure(figsize=(15,8))
plt.hist([ data[data['Survived']==1]['Age'], 
           data[data['Survived']==0]['Age']
         ], 
         stacked=True, 
         color = ['g','r'],
         bins = 30,
         label = ['Survived','Dead'])
plt.xlabel('Age')
plt.ylabel('Number of passengers')
plt.legend()
plt.close()

## Survived vs Fare

In [166]:
plt.figure(figsize=(15,8))
ax = plt.subplot()
ax.scatter(data[data['Survived']==1]['Age'],data[data['Survived']==1]['Fare'],c='green',s=40)
ax.scatter(data[data['Survived']==0]['Age'],data[data['Survived']==0]['Fare'],c='red',s=40)
ax.set_xlabel('Age')
ax.set_ylabel('Fare')
ax.legend(('survived','dead'),scatterpoints=1,loc='upper right',fontsize=15,)
plt.close()

## Fare vs Pclass

In [167]:
ax = plt.subplot()
ax.set_ylabel('Average fare')
data.groupby('Pclass').mean()['Fare'].plot(kind='bar',figsize=(15,8), ax = ax)
plt.close()

## Survived vs Embarked

In [168]:
survived_embark = data[data['Survived']==1]['Embarked'].value_counts()
dead_embark = data[data['Survived']==0]['Embarked'].value_counts()
df = pd.DataFrame([survived_embark,dead_embark])
df.index = ['Survived','Dead']
df.plot(kind='bar', stacked=True, figsize=(15,8))
plt.close()

# Data Manipulation

## Status function

In [169]:
# define a print function that asserts whether or not a feature has been processed.
def status(feature):
    print ('Processing',feature,': ok')

## Load the data

In [170]:
def get_combined_data():
    # reading train data
    train = pd.read_csv('train.csv')
    
    # reading test data
    test = pd.read_csv('test.csv')

    # extracting and then removing the targets from the training data 
    targets = train.Survived
    train.drop('Survived', 1, inplace=True)
    

    # merging train data and test data for future feature engineering
    combined = train.append(test)
    combined.reset_index(inplace=True)
    combined.drop('index', inplace=True, axis=1)
    
    return combined

In [171]:
combined = get_combined_data()
combined.describe()
combined.head()
combined.shape

(1309, 11)

## Create New Attribute Titles

In [172]:
def get_titles():

    global combined
    
    # we extract the title from each name
    combined['Title'] = combined['Name'].map(lambda name:name.split(',')[1].split('.')[0].strip())
    
    # a map of more aggregated titles
    Title_Dictionary = {
                        "Capt":       "Officer",
                        "Col":        "Officer",
                        "Major":      "Officer",
                        "Jonkheer":   "Royalty",
                        "Don":        "Royalty",
                        "Sir" :       "Royalty",
                        "Dr":         "Officer",
                        "Rev":        "Officer",
                        "the Countess":"Royalty",
                        "Dona":       "Royalty",
                        "Mme":        "Mrs",
                        "Mlle":       "Miss",
                        "Ms":         "Mrs",
                        "Mr" :        "Mr",
                        "Mrs" :       "Mrs",
                        "Miss" :      "Miss",
                        "Master" :    "Master",
                        "Lady" :      "Royalty"

                        }
    
    # we map each title
    combined['Title'] = combined.Title.map(Title_Dictionary)

In [173]:
get_titles()
combined.head()
print('')

## Process Age

In [174]:
grouped_train = combined.head(891).groupby(['Sex','Pclass','Title'])
grouped_median_train = grouped_train.median()

grouped_test = combined.iloc[891:].groupby(['Sex','Pclass','Title'])
grouped_median_test = grouped_test.median()

In [175]:
grouped_median_train
grouped_median_test
print('')

In [176]:
def process_age():
    
    global combined
    
    # a function that fills the missing values of the Age variable
    
    def fillAges(row, grouped_median):
        if row['Sex']=='female' and row['Pclass'] == 1:
            if row['Title'] == 'Miss':
                return grouped_median.loc['female', 1, 'Miss']['Age']
            elif row['Title'] == 'Mrs':
                return grouped_median.loc['female', 1, 'Mrs']['Age']
            elif row['Title'] == 'Officer':
                return grouped_median.loc['female', 1, 'Officer']['Age']
            elif row['Title'] == 'Royalty':
                return grouped_median.loc['female', 1, 'Royalty']['Age']

        elif row['Sex']=='female' and row['Pclass'] == 2:
            if row['Title'] == 'Miss':
                return grouped_median.loc['female', 2, 'Miss']['Age']
            elif row['Title'] == 'Mrs':
                return grouped_median.loc['female', 2, 'Mrs']['Age']

        elif row['Sex']=='female' and row['Pclass'] == 3:
            if row['Title'] == 'Miss':
                return grouped_median.loc['female', 3, 'Miss']['Age']
            elif row['Title'] == 'Mrs':
                return grouped_median.loc['female', 3, 'Mrs']['Age']

        elif row['Sex']=='male' and row['Pclass'] == 1:
            if row['Title'] == 'Master':
                return grouped_median.loc['male', 1, 'Master']['Age']
            elif row['Title'] == 'Mr':
                return grouped_median.loc['male', 1, 'Mr']['Age']
            elif row['Title'] == 'Officer':
                return grouped_median.loc['male', 1, 'Officer']['Age']
            elif row['Title'] == 'Royalty':
                return grouped_median.loc['male', 1, 'Royalty']['Age']

        elif row['Sex']=='male' and row['Pclass'] == 2:
            if row['Title'] == 'Master':
                return grouped_median.loc['male', 2, 'Master']['Age']
            elif row['Title'] == 'Mr':
                return grouped_median.loc['male', 2, 'Mr']['Age']
            elif row['Title'] == 'Officer':
                return grouped_median.loc['male', 2, 'Officer']['Age']

        elif row['Sex']=='male' and row['Pclass'] == 3:
            if row['Title'] == 'Master':
                return grouped_median.loc['male', 3, 'Master']['Age']
            elif row['Title'] == 'Mr':
                return grouped_median.loc['male', 3, 'Mr']['Age']
    
    combined.head(891).Age = combined.head(891).apply(lambda r : fillAges(r, grouped_median_train) if np.isnan(r['Age']) 
                                                      else r['Age'], axis=1)
    
    combined.iloc[891:].Age = combined.iloc[891:].apply(lambda r : fillAges(r, grouped_median_test) if np.isnan(r['Age']) 
                                                      else r['Age'], axis=1)
    
    status('age')

In [177]:
process_age()

Processing age : ok

In [178]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 12 columns):
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Name           1309 non-null object
Sex            1309 non-null object
Age            1309 non-null float64
SibSp          1309 non-null int64
Parch          1309 non-null int64
Ticket         1309 non-null object
Fare           1308 non-null float64
Cabin          295 non-null object
Embarked       1307 non-null object
Title          1309 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 122.8+ KB

## Process Name

In [179]:
def process_names():
    
    global combined
    # we clean the Name variable
    combined.drop('Name',axis=1,inplace=True)
    
    # encoding in dummy variable
    titles_dummies = pd.get_dummies(combined['Title'],prefix='Title')
    combined = pd.concat([combined,titles_dummies],axis=1)
    
    # removing the title variable
    combined.drop('Title',axis=1,inplace=True)
    
    status('names')

In [180]:
combined = get_combined_data()
get_titles()
process_age()
process_names()

Processing age : ok
Processing names : ok

In [181]:
combined.head();

## Process Fare

In [182]:
def process_fares():
    
    global combined
    # there's one missing fare value - replacing it with the mean.
    combined.head(891).Fare.fillna(combined.head(891).Fare.mean(), inplace=True)
    combined.iloc[891:].Fare.fillna(combined.iloc[891:].Fare.mean(), inplace=True)
    
    status('fare')

In [183]:
process_fares()

Processing fare : ok

## Process Embarked

In [184]:
def process_embarked():
    
    global combined
    # two missing embarked values - filling them with the most frequent one (S)
    combined.head(891).Embarked.fillna('S', inplace=True)
    combined.iloc[891:].Embarked.fillna('S', inplace=True)
    
    
    # dummy encoding 
    embarked_dummies = pd.get_dummies(combined['Embarked'],prefix='Embarked')
    combined = pd.concat([combined,embarked_dummies],axis=1)
    combined.drop('Embarked',axis=1,inplace=True)
    
    status('embarked')

In [185]:
process_embarked()

Processing embarked : ok

## Process Cabin

In [186]:
def process_cabin():
    
    global combined
    
    # replacing missing cabins with U (for Uknown)
    combined.Cabin.fillna('U', inplace=True)
    
    # mapping each Cabin value with the cabin letter
    combined['Cabin'] = combined['Cabin'].map(lambda c : c[0])
    
    # dummy encoding ...
    cabin_dummies = pd.get_dummies(combined['Cabin'], prefix='Cabin')
    
    combined = pd.concat([combined,cabin_dummies], axis=1)
    
    combined.drop('Cabin', axis=1, inplace=True)
    
    status('cabin')

In [187]:
process_cabin()

Processing cabin : ok

In [188]:
combined.info()
combined.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 26 columns):
PassengerId      1309 non-null int64
Pclass           1309 non-null int64
Sex              1309 non-null object
Age              1309 non-null float64
SibSp            1309 non-null int64
Parch            1309 non-null int64
Ticket           1309 non-null object
Fare             1309 non-null float64
Title_Master     1309 non-null uint8
Title_Miss       1309 non-null uint8
Title_Mr         1309 non-null uint8
Title_Mrs        1309 non-null uint8
Title_Officer    1309 non-null uint8
Title_Royalty    1309 non-null uint8
Embarked_C       1309 non-null uint8
Embarked_Q       1309 non-null uint8
Embarked_S       1309 non-null uint8
Cabin_A          1309 non-null uint8
Cabin_B          1309 non-null uint8
Cabin_C          1309 non-null uint8
Cabin_D          1309 non-null uint8
Cabin_E          1309 non-null uint8
Cabin_F          1309 non-null uint8
Cabin_G          1309 non-null uint8
Cabin_T          1309 non-null uint8
Cabin_U          1309 non-null uint8
dtypes: float64(2), int64(4), object(2), uint8(18)
memory usage: 104.9+ KB

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Officer,Title_Royalty,Embarked_C,Embarked_Q,Embarked_S,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_U
0,1,3,male,22.0,1,0,A/5 21171,7.2500,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1
1,2,1,female,38.0,1,0,PC 17599,71.2833,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0
2,3,3,female,26.0,0,0,STON/O2. 3101282,7.9250,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1
3,4,1,female,35.0,1,0,113803,53.1000,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0
4,5,3,male,35.0,0,0,373450,8.0500,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1

## Process Sex

In [189]:
def process_sex():
    
    global combined
    # mapping string values to numerical one 
    combined['Sex'] = combined['Sex'].map({'male':1,'female':0})
    
    status('sex')

In [190]:
process_sex()

Processing sex : ok

## Process Pclass

In [191]:
def process_pclass():
    
    global combined
    # encoding into 3 categories:
    pclass_dummies = pd.get_dummies(combined['Pclass'], prefix="Pclass")
    
    # adding dummy variables
    combined = pd.concat([combined,pclass_dummies],axis=1)
    
    # removing "Pclass"
    
    combined.drop('Pclass',axis=1,inplace=True)
    
    status('pclass')

In [192]:
process_pclass()

Processing pclass : ok

## Process Ticket

In [193]:
def process_ticket():
    
    global combined
    
    # a function that extracts each prefix of the ticket, returns 'XXX' if no prefix (i.e the ticket is a digit)
    def cleanTicket(ticket):
        ticket = ticket.replace('.','')
        ticket = ticket.replace('/','')
        ticket = ticket.split()
        ticket = list(map(lambda t : t.strip(), ticket))
        ticket = list(filter(lambda t : not t.isdigit(), ticket))
        if len(ticket) > 0:
            return ticket[0]
        else: 
            return 'XXX'
    

    # Extracting dummy variables from tickets:

    combined['Ticket'] = combined['Ticket'].map(cleanTicket)
    tickets_dummies = pd.get_dummies(combined['Ticket'], prefix='Ticket')
    combined = pd.concat([combined, tickets_dummies], axis=1)
    combined.drop('Ticket', inplace=True, axis=1)

    status('ticket')

In [194]:
process_ticket()

Processing ticket : ok

## Process Family

In [195]:
def process_family():
    
    global combined
    # introducing a new feature : the size of families (including the passenger)
    combined['FamilySize'] = combined['Parch'] + combined['SibSp'] + 1
    
    # introducing other features based on the family size
    combined['Singleton'] = combined['FamilySize'].map(lambda s: 1 if s == 1 else 0)
    combined['SmallFamily'] = combined['FamilySize'].map(lambda s: 1 if 2<=s<=4 else 0)
    combined['LargeFamily'] = combined['FamilySize'].map(lambda s: 1 if 5<=s else 0)
    
    status('family')

In [200]:
process_family()
combined.shape
combined.head()
print('')

Processing family : ok

# Modelling

## Import Required Libraries

In [202]:
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectKBest
from sklearn.model_selection import StratifiedKFold
from sklearn.grid_search import GridSearchCV
from sklearn.ensemble.gradient_boosting import GradientBoostingClassifier
from sklearn.cross_validation import cross_val_score

## Compute Score

In [203]:
def compute_score(clf, X, y, scoring='accuracy'):
    xval = cross_val_score(clf, X, y, cv = 5, scoring=scoring)
    return np.mean(xval)

## Recover Train Test Target

In [205]:
def recover_train_test_target():
    global combined
    
    train0 = pd.read_csv('train.csv')
    
    targets = train0.Survived
    train = combined.head(891)
    test = combined.iloc[891:]
    
    return train, test, targets

In [206]:
train, test, targets = recover_train_test_target()

## Feature Selection

In [207]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel
clf = RandomForestClassifier(n_estimators=50, max_features='sqrt')
clf = clf.fit(train, targets)

In [208]:
features = pd.DataFrame()
features['feature'] = train.columns
features['importance'] = clf.feature_importances_
features.sort_values(by=['importance'], ascending=True, inplace=True)
features.set_index('feature', inplace=True)

In [214]:
features.plot(kind='barh', figsize=(20, 20))
plt.close()

In [215]:
model = SelectFromModel(clf, prefit=True)
train_reduced = model.transform(train)
train_reduced.shape

(891, 14)

In [216]:
test_reduced = model.transform(test)
test_reduced.shape

(418, 14)

## Hyperparameters Tuning

In [217]:
# turn run_gs to True if you want to run the gridsearch again.
run_gs = False

if run_gs:
    parameter_grid = {
                 'max_depth' : [4, 6, 8],
                 'n_estimators': [50, 10],
                 'max_features': ['sqrt', 'auto', 'log2'],
                 'min_samples_split': [1, 3, 10],
                 'min_samples_leaf': [1, 3, 10],
                 'bootstrap': [True, False],
                 }
    forest = RandomForestClassifier()
    cross_validation = StratifiedKFold(targets, n_folds=5)

    grid_search = GridSearchCV(forest,
                               scoring='accuracy',
                               param_grid=parameter_grid,
                               cv=cross_validation)

    grid_search.fit(train, targets)
    model = grid_search
    parameters = grid_search.best_params_

    print('Best score: {}'.format(grid_search.best_score_))
    print('Best parameters: {}'.format(grid_search.best_params_))
else: 
    parameters = {'bootstrap': False, 'min_samples_leaf': 3, 'n_estimators': 50, 
                  'min_samples_split': 10, 'max_features': 'sqrt', 'max_depth': 6}
    
    model = RandomForestClassifier(**parameters)
    model.fit(train, targets)

In [218]:
compute_score(model, train, targets, scoring='accuracy')

0.81266528287420281

In [219]:
output = model.predict(test).astype(int)
df_output = pd.DataFrame()
aux = pd.read_csv('test.csv')
df_output['PassengerId'] = aux['PassengerId']
df_output['Survived'] = output
df_output[['PassengerId','Survived']].to_csv('output.csv',index=False)